@model IEnumerable<EjercicioPracticas1.Models.DocVentas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EstadoPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescPedido)
        </td>
        <td>
            @Html.ActionLink(item.Usuarios.Nombre, "../Usuarios/DetailsFromDocVentas", new { id = item.Usuarios.IdCliente })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NumeroPedido }) |
            @Html.ActionLink("Details", "Details", new { id=item.NumeroPedido }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NumeroPedido })
        </td>
    </tr>
}

</table>
